<div class="row">
<%= will_paginate @places %>
<div class="col-sm-12 col-md-12 col-lg-12">
	<% @places.each do |place| %>
		<div class="place col-sm-3 col-md-3 col-lg-3">
			<div class="place_main_image_thumb">
				<% if place.images.empty? %>
					<%= link_to image_tag("/pictures/thumb/missing.png", size: "100x100"), place_path(place.id)%>
				<% else %>
					<%= link_to image_tag(place.images.first.picture.url(:thumb)), place_path(place.id) %>
				<% 	end %>
			</div>
			<div>
			<%= link_to place.title, place_path(place.id) %> <br/>
			
			Rating: <%= place.rating %> <br/>
			(<%= place.rating %>, <%= place.reviews.count %> reviews)<br/>
			Photos: <%= place.images.size %>
			</div>
		</div>
	<% end %>
</div>
<%= will_paginate @places %>
</div>