<div class="row">
	<div class="col-md-12 col-lg-12">
		<div class="col-md-4 col-lg-4">
			<h2><%= @place.title %></h2>
			<div class="show_place_description">
				<%= @place.description %>
			</div>
		</div>
		<div class="col-md-8 col-lg-8 place_main_image_medium">
			<% if @place.images.empty? %>
				<%= image_tag("/pictures/medium/missing.png", size: "300x300") %>
			<% else %>
				<%= image_tag(@place.images.first.picture.url(:medium)) %>
			<% 	end %>
		</div>
	</div>
	
	<div class="col-md-12 col-lg-12 place_image_gallery">
		<h3> Galary: </h3>
		<% if !@place.images.empty? %>
			<% @place.images.each do |image| %>
				<%= image_tag image.picture.url(:thumb) %>
			<% end %>
		<% end %>		
	</div>	
	<div class="col-md-12 col-lg-12 place_rating_average">
		<h3> Rating: </h3>
		Overall: <%= @place.rating %> <br/>
		Quality of food: <%= @place.food_quality_rating %><br/>
		Service quality: <%= @place.service_quality_rating %><br/>
		Interior: <%= @place.interior_quality_rating %><br/>
	</div>

	<div class="col-md-12 col-lg-12 show_place_all_reviews">
		<h3> Reviews: </h3>

		<% @place.reviews.each do |review| %>
		<div class="">	
			<%= review.created_at.strftime("%F at %H:%M") %>,
			<%= review.user.name %> said: 
			<div class="">
				<%= review.body %>
			</div>
			<div class="">
				Quality of food: <%= review.food_quality %><br/>
				Service quality: <%= review.service_quality %><br/>
				Interior: <%= review.interior_mark %><br/>
			</div><br/>
		</div>	
		<% end %> 
	</div>
</div>
